@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');


body {
    background-image: url(images/froggy_background1.png);
    background-repeat: repeat;
    background-size: 300px 300px;
    font-family: "Capriola", serif;
    font-weight: 400;
    font-style: normal;
}

footer .section01 {
    display:flex;
    flex-direction: column;
}

.section02 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f8f6f2;
    margin: 50px 150px;
    border-radius: 12px;
    border: solid 10px #c0e4a0;
    color: #edb066;
}

.contador {
    color:#9f7643;
}
h1 {
    justify-content: center;
    font-size: 35px;
    line-height: 1.5;
    color:#fef4dc;
    background-color: #edb066;
    text-align: center;
    padding: 20px 15px;
    margin: 50px 150px;
    border-radius: 12px;
    border: solid 10px #ffc49d;
}

table {
    width: 100%;
}

td {
    text-align: center;
    height: 100px;
}

button {
    font-family: "Capriola", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #9f7643;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: solid 10px #edb066;
    background-color: #f8f6f2;

}

h6{
    justify-content: center;
    text-align: center;
    color: #9f7643;
}